/* Header */
.header {
  position: fixed;
  top: 40px;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.header .inner-main {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 30px;
  border-radius: 45px;
  background: #fff;
}

.header .inner-logo img {
  height: 30px;
  width: auto;
}

.header .inner-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header .inner-menu ul li {
  margin-left: 25px;
}

.header .inner-menu ul li a {
  font-size: 14px;
  font-weight: 500;
}

.header .inner-icon-mobi {
  display: none;
}

@media (max-width: 991.98px) {
  .header .inner-menu {
    display: none;
  }

  .header .inner-icon-mobi {
    display: block;
    font-size: 24px;
  }
}

/* End Header */

/* Section One */
.section-one {
  background-image: url(../images/banner-bg.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-one .inner-wrap {
  text-align: center;
  max-width: 600px;
  color: #fff;
  margin: 0 auto;
}

.section-one .inner-title {
  font-size: 32px;
  margin-bottom: 10px;
}

.section-one .inner-desc {
  margin-bottom: 20px;
}

@media (max-width: 767.98px) {
  .section-one .inner-title {
    font-size: 20px;
  }

  .section-one .inner-desc {
    font-size: 13px;
  }
}

/* End Section One */

/* Section Two */
.section-two {
  margin-top: -220px;
}

.section-two .inner-box {
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
  background: #fff;
  border-radius: 15px;
  padding: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.section-two .inner-box .inner-icon {
  background: var(--color-one);
  width: 80px;
  height: 80px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 20px;
}

.section-two .inner-box:hover .inner-icon {
  background: var(--color-two);
}

.section-two .inner-box .inner-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.section-two .inner-box .inner-title {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.section-two .inner-box .inner-desc {
  font-size: 13px;
  margin-bottom: 0;
}

@media (max-width: 991.98px) {
  .section-two {
    margin-top: 0;
  }
}

/* End Section Two */

/* Section Three */
.section-three {
  margin-top: 80px;
  margin-bottom: 80px;
}

.section-three .inner-image {
  text-align: center;
}

.section-three .inner-image img {
  max-width: 100%;
  height: auto;
}

.section-three .inner-content .inner-title {
  font-size: 28px;
  margin-bottom: 25px;
}

.section-three .inner-border-bottom {
  border-bottom: 1px solid #ddd;
  padding-bottom: 80px;
  margin-bottom: 80px;
}

@media (max-width: 991.98px) {
  .section-three .inner-image {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

/* End Section Three */

/* Section Four */
.section-four {
  background-image: url(../images/fun-facts-bg.png);
  padding: 80px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section-four .inner-box {
  position: relative;
}

.section-four .inner-box::before {
  content: "";
  background-image: url(../images/circle-dec.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 100px;
  height: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
}

.section-four .inner-box .inner-content {
  color: #fff;
}

.section-four .inner-box:hover .inner-content {
  transform: translateY(-15px);
  transition: all 0.3s ease 0s;
}

.section-four .inner-box .inner-number {
  font-size: 32px;
  font-weight: 700;
}

@media (max-width: 991.98px) {
  .section-four .inner-box::before {
    display: none;
  }

  .section-four .inner-box {
    text-align: center;
    margin: 10px 0;
  }
}

/* End Section Four */

/* Blog Entries */
.blog-entries {
  padding-top: 80px;
  padding-bottom: 80px;
}

.blog-entries .inner-box {
  margin-bottom: 30px;
}

.blog-entries .inner-image {
  width: 100%;
  aspect-ratio: 4/3;
  border-radius: 15px;
  overflow: hidden;
}

.blog-entries .inner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-entries .inner-content {
  margin-top: 10px;
  padding: 10px;
  text-align: center;
}

.blog-entries .inner-content .inner-title {
  font-size: 22px;
  margin-bottom: 10px;
}

.blog-entries .inner-content .inner-desc {
  font-size: 13px;
}

@media (max-width: 767.98px) {
  .blog-entries .inner-image {
    max-width: 370px;
    margin: 0 auto;
  }
}

/* End Blog Entries */

/* Talk to us */
.talk-to-us {
  background: #f2f2fe;
  padding: 80px 0;
}

.talk-to-us .inner-content .inner-title {
  font-size: 20px;
}

.talk-to-us .inner-form input,
.talk-to-us .inner-form textarea {
  border-radius: 25px;
  width: 100%;
  margin-bottom: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  background: #fff;
}

.talk-to-us .inner-form input:focus,
.talk-to-us .inner-form textarea:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}

.talk-to-us .inner-form input {
  height: 50px;
}

.talk-to-us .inner-form textarea {
  height: 150px;
}

/* End Talk to us */